

<div style="">


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" style="font-weight: bold; font-size: 16px;">Chart Of Accounts
				</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- 				<a class="navbar-brand">Categories</a> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<div class="navbar-form navbar-left">
					<div class="form-group">
						<input class="form-control" [(ngModel)]="filterQuery"
							style="width: 350px;"
							placeholder="Search by name / Type and press enter"
							(change)="filterQueryChange($event)" />
					</div>
				</div>
				<div class="navbar-form navbar-right">
					<button type="button" (click)="createNew()"
						class="btn btn-sm btn-primary btn-create">
						<span class="glyphicon glyphicon-plus" style="top: 0px;"
							aria-hidden="true"></span> Create
					</button>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div *ngIf="show_throbber" class="col-lg-12" align="center"
		style="width: 100%;">
		<img alt="" src="img/loading1.gif">
	</div>
	<div class="table-responsive">
		<!-- [mfData]="data | categoryNameFilter : filterQuery  | paginate: { itemsPerPage:rowsOnPage, currentPage: activePage,totalItems: itemsTotal}" -->
		<table *ngIf=listData class="table table-striped"
			[mfData]="data | paginate: { itemsPerPage:rowsOnPage, currentPage: activePage,totalItems: itemsTotal}"
			#mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
			[(mfSortOrder)]="sortOrder" [mfActivePage]="activePage">
			<thead *ngIf="itemsTotal>0">
				<th style="color: #337ab7;">#</th>
				<th><mfDefaultSorter by="categoryName">Chart Of Accounts 
					Name</mfDefaultSorter></th>
					<th><mfDefaultSorter by="categoryName">Chart Of Accounts 
					Code</mfDefaultSorter></th>
					<th><mfDefaultSorter by="categoryName">Chart Of Accounts 
					Group Name</mfDefaultSorter></th>
				<th style="color: #337ab7;">Actions</th>
			</thead>
			<tbody>
				<tr>
					<td colspan="5" *ngIf="itemsTotal==0 || itemsTotal==null"
						align="center" style="font-style: italic;"><I>No data
							available</I></td>
				</tr>
				<tr *ngFor="let listData of mf.data ; let i= index">
					<td>{{(activePage - 1) * rowsOnPage + i +1 }}</td>
					<td>{{listData.coaName}}</td>
					<td>{{listData.coaCode}}</td>
					<td>{{listData.groupName}}</td>
					
					<td><a [routerLink]="['../crud',listData.id]"
						title="Edit Group Component"> <span
							class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a>
						<button type="button" (click)="deleteModel(listData.id)"
							class="btn btn-sm btn-danger">
							<span class="glyphicon glyphicon-trash" style="top: 0px;"
								aria-hidden="true"></span>
						</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr *ngIf="itemsTotal>0">
					<td colspan="2"><pagination-controls
							(pageChange)="onPageChange($event)" directionLinks="true"></pagination-controls>
					</td>
					<td colspan="3" align="right" style="font-style: italic;"><I>{{
							itemsTotal }} records found</I></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

