<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Product </title>
<style>
.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}
</style>
</head>
<body *ngIf=formData>


	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 *ngIf="!formData.id" class="page-header"
					style="font-weight: bold; font-size: 16px;">New Product
					</h1>
				<h1 *ngIf="formData.id > 0" class="page-header"
				 style="font-weight: bold; font-size: 16px;">Edit Product
					</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">

			<div class="col-lg-12">
				<div class="">
					<form id="productForm" data-toggle="validator"
						(ngSubmit)="submitForm(productForm.value)"
						#productForm="ngForm" class="form-horizontal">

						<!-- We'll add our form controls here -->

						<input type="hidden" [(ngModel)]="formData.id" name="id"
							class="form-control" />

						<div class="row">
							<div class="col-xs-6">

								<label class="control-label">Product  <span
									class="required">*</span>
								</label> <input type="text" [(ngModel)]="formData.productName"
									name="productname" class="form-control"
									data-error="Product Name is required" required
									maxlength="255" />

							</div>
						</div>
						
						<div class="row">
								<div class="col-xs-6">
									<label for="categoryName" class="control-label">Product Category
									 <span class="required">*</span>
									</label>
									<select [(ngModel)]="formData.productCategoryId" name="productCategoryId" required
											class="form-control">
											<option *ngFor="let c of category" [value]="c.id">{{c.categoryName}}</option>
									</select>
								</div>
						</div>
						
						<div class="row">
								<div class="col-xs-6">
									<label for="categoryName" class="control-label">Unit Of Measure
									 <span class="required">*</span>
									</label>
									<select [(ngModel)]="formData.uomId" name="uomId" required
											class="form-control">
											<option *ngFor="let u of uom" [value]="u.id">{{u.uomName}}</option>
									</select>
								</div>
						</div>
						
							
								
								<div class="row">
								<label > Is Stockable  </label>
       						 <input type='checkbox' [(ngModel)]='formData.stockable' name="stockable" >
       						   </div>
       						    
  


						<!-- Detail Grid -->
						
						<div class="row">
							<div class="col-xs-12">
								<h1 class="page-header">Product Details</h1>
							</div>
							<div class="col-xs-12">
								<div class="table-responsive">
									<table *ngIf=gridData class="table table-striped" index="0">
										<thead>
											<th style="color: #337ab7;">#</th>
											
											<th>Specification Name</th>
											<th><button type="button" (click)="addRows()"
													class="btn btn-sm btn-primary">
													<span class="glyphicon glyphicon-plus" style="top: 0px;"
														aria-hidden="true"></span>
												</button></th>
										</thead>
										
										
										<tbody>
											
											<tr *ngFor="let item of gridData ; let i= index">
												<td>{{i +1 }}</td>
												<td><select [(ngModel)]="item.productSpecificationHdrId" required
													name="productSpecificationHdrId-{{i}}" class="form-control">
														<option *ngFor="let comp of productsspecification"
															[value]="comp.id">{{comp.specificationName}}</option>
												</select></td>
												<td><button type="button" (click)="removeRow(item,i)"
														class="btn btn-sm btn-danger">
														<span class="glyphicon glyphicon-trash" style="top: 0px;"
															aria-hidden="true"></span>
													</button>
													</td>
											</tr>
										
													
										</tbody>
									</table>
								</div>
							</div>
						</div>


						<br>
						<div class="row">
							<div class="col-xs-6">
								<button type="submit" class="btn btn-sm btn-primary">
									<span *ngIf="!formData.id">Create</span> <span
										*ngIf="formData.id > 0">Update</span>
								</button>
								<button [disabled]="!formData.id" type="button"
									(click)="deleteModel(formData.id)"
									class="btn btn-sm btn-danger">Delete</button>
								<button type="button" (click)="backToHome()"
									class="btn btn-sm btn-warning">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>