<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Categories</title>
<style>
.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}
</style>
</head>
<body *ngIf=specificationComponent>


	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 *ngIf="!specificationComponent.id" class="page-header"
					style="font-weight: bold; font-size: 16px;">New Specification
					Component</h1>
				<h1 *ngIf="specificationComponent.id > 0" class="page-header">Edit
					Specification Component</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">

			<div class="col-lg-12">
				<div class="">
					<form id="specificationComponentForm" data-toggle="validator"
						(ngSubmit)="submitForm(specificationComponentForm.value)"
						#specificationComponentForm="ngForm" class="form-horizontal">

						<!-- We'll add our form controls here -->

						<input type="hidden" [(ngModel)]="specificationComponent.id"
							name="id" class="form-control" />

						<div class="row">
							<div class="col-xs-6">

								<label for="categoryName" class="control-label">Specification
									Component Name<span class="required">*</span>
								</label> <input type="text"
									[(ngModel)]="specificationComponent.componentName"
									name="componentName" class="form-control"
									data-error="Component name is required" required
									maxlength="255" />

								<!-- <div
									*ngIf="specificationComponentForm.categoryName.errors && (specificationComponentForm.categoryName.dirty || specificationComponentForm.categoryName.touched)"
									class="field_error">
									<div
										[hidden]="!specificationComponentForm.categoryName.errors.required">
										Specification Component Name is required</div>
								</div> -->


								<!-- <div *ngIf="!validations.categoryName.isDataPresent"
									class="field_error">
									{{validations.categoryName.requiredValidationMessage}}</div>

							</div> -->


							</div>
						</div>




						<br>
						<div class="row">
							<div class="col-xs-6">
								<button type="submit" class="btn btn-sm btn-primary">
									<span *ngIf="!specificationComponent.id">Create</span> <span
										*ngIf="specificationComponent.id > 0">Update</span>
								</button>
								<button [disabled]="!specificationComponent.id" type="button"
									(click)="deleteModel(specificationComponent.id)"
									class="btn btn-sm btn-danger">Delete</button>
								<button type="button" (click)="backToHome()"
									class="btn btn-sm btn-warning">Cancel</button>
							</div>
						</div>

						<!-- <div class="row">
							<p-messages [(value)]="msgs"></p-messages>

							<button type="button" (click)="show()">Show</button>
							<button type="button" (click)="clear()">Hide</button>
						</div> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>